.nav {
    position: fixed;
    padding: 20px 100px 20px 30px;
    width: 100%;
    color: #fff;
    background-color: transparent;

    @media screen and (max-width: 760px){
        padding: 20px 0px 20px 0px;
    }
    z-index: 101;
    h2 {
        display: inline-block;
        @media screen and (max-width: 760px){
            text-align: center;
            display: block;
        }
    }
    .navLinks {
        float: right;
        @media screen and (max-width: 760px){
            display: none;
        }
    }
    .navLinks li{
        display: inline-block;
        margin: 0px 20px;
        font-size: 1.1rem;
        border-bottom: 2px solid transparent;
        transition: 0.2s all ease;
        &:hover {
            border-color: #fff;
            cursor: pointer;
        }
    }
}

.content {
    height: 100vh;
    width: 100%;
    padding: 0px 100px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @media screen and (max-width: 760px){
        padding: 0px 0px;
        align-items: center;
    }
}
.wrapper {
    width: 40%;
    @media screen and (max-width: 760px){
        width: 100%;
        h1, p {
            text-align: center;
        }
    }
    h1 {
        // color: rgb(150, 10, 10);
        color: #9B3E63;
        font-size: 5rem;
    }
    p {
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        line-height: 30px;
    }
}
.button {
    width: fit-content;
    height: 50px;
    margin: 10px auto;
    padding: 10px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: rgb(150, 10, 10);
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: rgb(150, 10, 10);
        color: rgb(255, 255, 255);
        outline: 3px solid rgb(150, 10, 10);
    }
    &:active {
        background-color: rgb(61, 5, 5);
    }
}